#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias vim='nvim'
alias vi='nvim'
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias lab='cd ~/Downloads/repos/LAB'
PS1='[\u@\h \W]\$ '
alias air='$(go env GOPATH)/bin/air'
alias notes='cd ~/docs/notes'
alias putmac='rsync -av --delete {{ .chezmoi.homeDir }}/ shiny:/home/'
alias journal='ssh -t keen@mothership "bash -ic \"journal\""'
alias artbooks='cd ~/docs/books/Art/'
alias books='cd ~/docs/books/'
alias zeko='ssh -t keen@mothership "source ~/.nvm/nvm.sh && nvm use 24 >/dev/null && ZEKO_REMOTE=arch ~/.openclaw/bin/zeko-tui"'
alias mountsd='mount-sd-card'

# Created by `pipx` on 2025-02-08 21:25:54
export PATH="$PATH:{{ .chezmoi.homeDir }}/.local/bin"

{{- if eq .chezmoi.os "linux" }}
ibus-daemon -drx
{{- end }}
